In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv("wage.csv", engine='python')
un = pd.read_csv("unemployment.csv", engine='python')
el = pd.read_csv("election.csv", engine='python')
st = pd.read_csv("abbrev.csv", engine='python', index_col=0)

wage = pd.DataFrame()

for name, group in df.groupby("State"):
    if wage.empty:
        wage = group.set_index("Year")[["Low.2018"]].rename(columns={"Low.2018":name})
    else:
        wage = wage.join(group.set_index("Year")[["Low.2018"]].rename(columns={"Low.2018":name}))

wage = wage.replace(0, np.NaN).dropna(axis=1)

def min_wage(year, state):
    try:
        return wage.loc[year][state] #selecting  data
    except:
        return np.NaN

un['min_wage'] = list(map(min_wage, un['Year'], un['State']))
un.head()

candidates = el.head(5)['cand'].values
county = un[(un['Year']==2015) & (un["Month"]=="February")]
state_dict = st.to_dict()['Postal Code']

        State Abbreviation  Unnamed: 2
0     Alabama           AL         NaN
1      Alaska           AK         NaN
2     Arizona           AZ         NaN
3    Arkansas           AR         NaN
4  California           CA         NaN